.person-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 25%;
    margin: 20px;
}
.person-name{
    line-height: 1.3;
    margin: 0;
    font-size: 22px;
}
.country{
    margin: 0;
    color: rgb(219 255 112);
    font-size: 12px;
    line-height: 1.5;
}
.description{
    color: #bdb6b6;
    font-weight: 200;
    font-size: 12px;
    line-height: 3;
}